<div class="row" *ngIf="!photo; else main_content">
    <h1>Loading...</h1>
</div>
<ng-template #main_content>
   
    <form [formGroup]="form.formGroup">
        
<mat-card class="example-card" >
   
   
    
    <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                
        <div *ngIf="photo">
                    <img mat-card-image [src]="photo.path || 'assets/imagen.png'" class="img-fluid" alt="No image"
                    (click)="photoInput.click()">
                </div>
                <h1 *ngIf="photoSelected">cambiar por</h1>
                <div *ngIf="photoSelected">
                    <img mat-card-image [src]="photoSelected || 'assets/imagen.png'" class="img-fluid" alt="No image"
                    (click)="photoInput.click()">
                </div>

    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px" >
            <mat-grid-tile
            [colspan]=1
            [rowspan]=1>
                
                    <mat-form-field>
                    <input
                              matInput
                              data-input-crew-member-first-name
                              type="text"
                              placeholder="First name"
                              [formControlName]="form.formControlNames.title"
                              autocomplete="off"
                              [value]="photo.title"
                            />
                </mat-form-field>

               
                
                
                
        
            </mat-grid-tile>
            <mat-grid-tile  
                [colspan]=1
                [rowspan]=1
                >     
                    <mat-form-field appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput
                                  cdkTextareaAutosize
                                  #autosize="cdkTextareaAutosize"
                                  cdkAutosizeMinRows="1"
                                  cdkAutosizeMaxRows="5"
                                  [formControlName]="form.formControlNames.description"
                                  [value]="photo.description"
                                  ></textarea>
                      </mat-form-field>
                

                           
                    
              
            </mat-grid-tile>
   
          </mat-grid-list>
      



    </mat-card-content>
    
    <mat-card-actions>
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile>
                <div class="iphonex" >
                    <div class="apps">            
                        <div class="app1" [ngStyle]="{'backgroundImage':urlupdate}" (click)="updatePhoto()"	 ></div>
                    </div>
                </div>

            </mat-grid-tile>

            <mat-grid-tile>
                <div class="iphonex" >
                    <div class="apps">            
                        <div class="app1" [ngStyle]="{'backgroundImage':urldelete}" (click)="deletePhoto(photo)"	 ></div>
                    </div>
                </div>
                
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="iphonex" >
                    <div class="apps">            
                        <div class="app1" [ngStyle]="{'backgroundImage':urlback}" routerLink="/fotografias"	 ></div>
                    </div>
                </div>
                
            </mat-grid-tile>

        </mat-grid-list>
        
    </mat-card-actions>
  </mat-card>


    </form></ng-template>
<pre>
    {{form.formGroup.value | json}}
</pre>
